.idea

Derenzo_phantom/Pixelated_ground_truth

Other/Gate_9_0/data
Other/Keyvan_data/point_center_ops.mcGATE.root
Other/Keyvan_data/sens_2gamma.mcGATE.root

Legacy/Derenzo_phantom/Derenzo_pixelated
Legacy/Derenzo_phantom/Derenzo_pixelated_2.5
Legacy/Derenzo_phantom/Derenzo_pixelated_3
